In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.max_columns = 40
pd.options.display.max_rows = 20

### Inspecting the data

In [3]:
train = pd.read_csv("data/training.csv")
test = pd.read_csv("data/test.csv")
print("training data size is:", train.shape)
print("testing data size is:", test.shape)

training data size is: (72983, 34)
testing data size is: (48707, 33)

In [4]:
train.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,AUTO,1.0,Alloy,89046,OTHER ASIAN,MEDIUM,OTHER,8155.0,9829.0,11636.0,13600.0,7451.0,8552.0,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,AUTO,1.0,Alloy,93593,AMERICAN,LARGE TRUCK,CHRYSLER,6854.0,8383.0,10897.0,12572.0,7456.0,9222.0,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,AUTO,2.0,Covers,73807,AMERICAN,MEDIUM,CHRYSLER,3202.0,4760.0,6943.0,8457.0,4035.0,5557.0,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,AUTO,1.0,Alloy,65617,AMERICAN,COMPACT,CHRYSLER,1893.0,2675.0,4658.0,5690.0,1844.0,2646.0,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,MANUAL,2.0,Covers,69367,AMERICAN,COMPACT,FORD,3913.0,5054.0,7723.0,8707.0,3247.0,4384.0,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [5]:
train.tail()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
72978,73010,1,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,AUTO,1.0,Alloy,45234,AMERICAN,MEDIUM,FORD,1996.0,2993.0,2656.0,3732.0,2190.0,3055.0,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
72979,73011,0,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,AUTO,NaN,NaN,71759,AMERICAN,MEDIUM,GM,6418.0,7325.0,7431.0,8411.0,6785.0,8132.0,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
72980,73012,0,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,AUTO,1.0,Alloy,88500,AMERICAN,MEDIUM SUV,CHRYSLER,8545.0,9959.0,9729.0,11256.0,8375.0,9802.0,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
72981,73013,0,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,AUTO,1.0,Alloy,79554,AMERICAN,LARGE,GM,6420.0,7604.0,7434.0,8712.0,6590.0,7684.0,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
72982,73014,0,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,AUTO,1.0,Alloy,66855,OTHER ASIAN,MEDIUM,OTHER,7535.0,8771.0,8638.0,9973.0,7730.0,9102.0,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

In [6]:
train.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,72983.000000,72983.000000,72983.000000,72983.000000,69814.000000,72983.000000,72965.000000,72965.000000,72965.000000,72965.000000,72668.000000,72668.000000,72668.000000,72668.000000,72983.000000,72983.000000,72983.000000,72983.000000,72983.000000
mean,36511.428497,0.122988,2005.343052,4.176644,1.494299,71499.995917,6128.909217,7373.636031,8497.034332,9850.928240,6132.081287,7390.681827,8775.723331,10145.385314,26345.842155,58043.059945,6730.934326,0.025280,1276.580985
std,21077.241302,0.328425,1.731252,1.712210,0.521290,14578.913128,2461.992768,2722.491986,3156.285284,3385.789541,2434.567723,2686.248852,3090.702941,3310.254351,25717.351219,26151.640415,1767.846435,0.156975,598.846788
min,1.000000,0.000000,2001.000000,0.000000,0.000000,4825.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,18257.500000,0.000000,2004.000000,3.000000,1.000000,61837.000000,4273.000000,5406.000000,6280.000000,7493.000000,4275.000000,5414.000000,6536.000000,7784.000000,17212.000000,32124.000000,5435.000000,0.000000,837.000000
50%,36514.000000,0.000000,2005.000000,4.000000,1.000000,73361.000000,6097.000000,7303.000000,8444.000000,9789.000000,6062.000000,7313.000000,8729.000000,10103.000000,19662.000000,73108.000000,6700.000000,0.000000,1155.000000
75%,54764.500000,0.000000,2007.000000,5.000000,2.000000,82436.000000,7765.000000,9021.000000,10651.000000,12088.000000,7736.000000,9013.000000,10911.000000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000
max,73014.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,45469.000000,1.000000,7498.000000

**It appears that a lot of the some of the features in the data are listed with NaN or repetitive units. Namely PRIMEUNIT, AUCGUART, IsOnlineSale and Auction. We'll first inspect the ratio of NaNs to total data points as well as the number of unique values.**

In [7]:
missing_PRIMEUNIT = np.sum(pd.isna(train.PRIMEUNIT))
missing_AUCGUART = np.sum(pd.isna(train.AUCGUART))

print("Ratio of missing data for PRIMEUNIT is: ", 
     np.round(missing_PRIMEUNIT/train.shape[0], 2))
print("Ratio of missing data for AUCGUART is: ", 
     np.round(missing_AUCGUART/train.shape[0], 2))

Ratio of missing data for PRIMEUNIT is:  0.95
Ratio of missing data for AUCGUART is:  0.95

**There's a high percent of missing data for PRIMEUNIT and AUCGUART. Let's see what the percentage of bad buys are for PRIMEUNIT for the categories provided.**

In [8]:
train[['PRIMEUNIT', 'IsBadBuy']].groupby(['PRIMEUNIT'], as_index = False).mean()

  PRIMEUNIT  IsBadBuy
0        NO  0.037831
1       YES  0.096774

**There appears to be a sizable difference between if it is a primeunit or not. We'll fill in the Nas with maybes to see if there's a distinction between the groups before throwing out the section.**

In [9]:
train[['PRIMEUNIT']] = train[['PRIMEUNIT']].fillna('MAYBE')
train[['PRIMEUNIT', 'IsBadBuy']].groupby(['PRIMEUNIT'], as_index = False).mean()

  PRIMEUNIT  IsBadBuy
0     MAYBE  0.127120
1        NO  0.037831
2       YES  0.096774

In [10]:
train['AUCGUART'] = train[['AUCGUART']].fillna('MAYBE')
train[['AUCGUART', 'IsBadBuy']].groupby(['AUCGUART'], as_index = False).mean()

  AUCGUART  IsBadBuy
0    GREEN  0.037425
1    MAYBE  0.127120
2      RED  0.101266

**Since there's a large difference with the missing values and the others, we'll leave the values with a placeholder.**

**Next we will check the number of unique values within IsOnlineSale and Auction just in case that there are no more than one unique value.**

In [11]:
t = train.IsOnlineSale
print("The unique values of IsOnlineSale: ", set(train.IsOnlineSale) )
print("The unique values of IsOnlineSale: ", set(train.Auction) )

The unique values of IsOnlineSale:  {0, 1}
The unique values of IsOnlineSale:  {'ADESA', 'MANHEIM', 'OTHER'}

**Since the values are not all singular values then w we will allow them to remain within our dataset.**

**A quick peek at the axes names, I can come up with a hypothesis for which features are useful and which ones are not. For instance, Trim, Color, WheelTypeID do not appear to be useful features. However, we'll drop the features after seeing how they perform with a model.**

In [12]:
print("Shape before", train.shape)
print("Shape after", train.shape)

Shape before (72983, 34)
Shape after (72983, 34)

**Now we will check if there are any remaining missing values that are in our training set.**

In [13]:
print("Shape before dropping missing values",train.shape)
print("Shape after dropping missing values", train.dropna().shape)

Shape before dropping missing values (72983, 34)
Shape after dropping missing values (67270, 34)

**There are still some values that are missing. If the testing set has missing values as well then we will fill the values with a guess at the missing data.**

In [14]:
print("Shape before dropping missing values",test.shape)
print("Shape after dropping missing values", test.dropna().shape)

Shape before dropping missing values (48707, 33)
Shape after dropping missing values (2419, 33)

**Appears that the test set probably has the same missing data in the columns as the training set.**

In [15]:
missing_PRIMEUNIT = np.sum(pd.isna(test.PRIMEUNIT))
missing_AUCGUART = np.sum(pd.isna(test.AUCGUART))

print("Ratio of missing data for PRIMEUNIT is: ", 
     np.round(missing_PRIMEUNIT/test.shape[0], 2))
print("Ratio of missing data for AUCGUART is: ", 
     np.round(missing_AUCGUART/test.shape[0], 2))

Ratio of missing data for PRIMEUNIT is:  0.95
Ratio of missing data for AUCGUART is:  0.95

**A quick verification of the data shows that the test set has a similar profile missing data primarily in the PRIMEUNIT and AUCGUART sections. We'll apply the same preprocessing step as before.**

In [16]:
test[['PRIMEUNIT']] = test[['PRIMEUNIT']].fillna('MAYBE')
test['AUCGUART'] = test[['AUCGUART']].fillna('MAYBE')

In [17]:
print("Shape before dropping missing values",test.shape)
print("Shape after dropping missing values", test.dropna().shape)

Shape before dropping missing values (48707, 33)
Shape after dropping missing values (44939, 33)

**Since some data appears to be missing for the testing set, we will fill in all missing categorical data with a filler category of 'MAYBE' and all missing numerical data with the respective average value. This will be done for both training and testing set.**

In [18]:
for i in train:
    if train[i].isna().any():
        print(i, 'has missing data')
        if train[i].dtypes == 'object':
            print('Filling with filler value for', i)
            train[i] = train[i].fillna('MAYBE')
        else:
            print('filling new continuous value')
            train[i] = train[i].fillna(train[i].mean())

Trim has missing data
Filling with filler value for Trim
SubModel has missing data
Filling with filler value for SubModel
Color has missing data
Filling with filler value for Color
Transmission has missing data
Filling with filler value for Transmission
WheelTypeID has missing data
filling new continuous value
WheelType has missing data
Filling with filler value for WheelType
Nationality has missing data
Filling with filler value for Nationality
Size has missing data
Filling with filler value for Size
TopThreeAmericanName has missing data
Filling with filler value for TopThreeAmericanName
MMRAcquisitionAuctionAveragePrice has missing data
filling new continuous value
MMRAcquisitionAuctionCleanPrice has missing data
filling new continuous value
MMRAcquisitionRetailAveragePrice has missing data
filling new continuous value
MMRAcquisitonRetailCleanPrice has missing data
filling new continuous value
MMRCurrentAuctionAveragePrice has missing data
filling new continuous value
MMRCurrentAuctionCleanPrice has missing data
filling new continuous value
MMRCurrentRetailAveragePrice has missing data
filling new continuous value
MMRCurrentRetailCleanPrice has missing data
filling new continuous value

In [19]:
for i in test:
    if test[i].isna().any():
        print(i, 'has missing data')
        if test[i].dtypes == 'object':
            print('Filling with filler value for', i)
            test[i] = test[i].fillna('MAYBE')
        else:
            print('filling new continuous value')
            test[i] = test[i].fillna(test[i].mean())

Trim has missing data
Filling with filler value for Trim
SubModel has missing data
Filling with filler value for SubModel
Color has missing data
Filling with filler value for Color
Transmission has missing data
Filling with filler value for Transmission
WheelTypeID has missing data
filling new continuous value
WheelType has missing data
Filling with filler value for WheelType
Nationality has missing data
Filling with filler value for Nationality
Size has missing data
Filling with filler value for Size
TopThreeAmericanName has missing data
Filling with filler value for TopThreeAmericanName
MMRAcquisitionAuctionAveragePrice has missing data
filling new continuous value
MMRAcquisitionAuctionCleanPrice has missing data
filling new continuous value
MMRAcquisitionRetailAveragePrice has missing data
filling new continuous value
MMRAcquisitonRetailCleanPrice has missing data
filling new continuous value
MMRCurrentAuctionAveragePrice has missing data
filling new continuous value
MMRCurrentAuctionCleanPrice has missing data
filling new continuous value
MMRCurrentRetailAveragePrice has missing data
filling new continuous value
MMRCurrentRetailCleanPrice has missing data
filling new continuous value

**Next we will convert text data to a numerical value. This will be only applied to any categorical data. We will exclude dates from this since vehicle age relates to the date it was purchased. We will drop RefId as well since this is not additional data about the vehicle and is rather an ID for data processing use.**

**We will convert all strings to UPPER so there's no separate categories with different spellings.**

In [20]:
train = train.drop(['PurchDate', 'RefId'], axis = 1)
test = test.drop(['PurchDate', 'RefId'], axis = 1)

In [21]:
for i in train:
    if train[i].dtypes == 'object':
        #convert all string data to upper
        train[i] = train[i].str.upper()

In [22]:
for i in test:
    if test[i].dtypes == 'object':
        #convert all string data to upper
        test[i] = test[i].str.upper()

In [23]:
indexing_dict = {}
for i in train:
    if train[i].dtypes == 'object':
        train[i], hold = pd.factorize(train[i])
        indexing_dict[i] = hold
        print('Number of uniques in', i, len(hold))

Number of uniques in Auction 3
Number of uniques in Make 33
Number of uniques in Model 1063
Number of uniques in Trim 134
Number of uniques in SubModel 864
Number of uniques in Color 17
Number of uniques in Transmission 3
Number of uniques in WheelType 4
Number of uniques in Nationality 5
Number of uniques in Size 13
Number of uniques in TopThreeAmericanName 5
Number of uniques in PRIMEUNIT 3
Number of uniques in AUCGUART 3
Number of uniques in VNST 37

**Applying the new labels from the training factorization to testing set now.**

In [24]:
#before
test.head()

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,ADESA,2005,4,PONTIAC,GRAND PRIX,BAS,4D SEDAN,SILVER,AUTO,1.000000,ALLOY,85377,AMERICAN,LARGE,GM,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,MAYBE,MAYBE,18881,30212,GA,6500.0,0,2152
1,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,AUTO,1.000000,ALLOY,61873,AMERICAN,MEDIUM,GM,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,MAYBE,MAYBE,18111,30212,GA,6300.0,0,1118
2,ADESA,2006,3,DODGE,DURANGO 2WD V8,ADV,4D SUV 4.7L ADVENTURER,SILVER,AUTO,1.000000,ALLOY,69283,AMERICAN,MEDIUM SUV,CHRYSLER,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,MAYBE,MAYBE,18111,30212,GA,9700.0,0,1215
3,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,AUTO,1.000000,ALLOY,87889,AMERICAN,MEDIUM,GM,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,MAYBE,MAYBE,18881,30212,GA,4150.0,0,1933
4,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,AUTO,1.462198,MAYBE,73432,OTHER ASIAN,COMPACT,OTHER,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,MAYBE,MAYBE,18111,30212,GA,4100.0,0,920

In [25]:
def convert_labels(index, value):
    if value in index:
        return index.get_loc(value)
    else:
        return -1

In [26]:
for i in test:
    if test[i].dtypes == 'object':
        test[i] = test[i].apply(lambda x: convert_labels(indexing_dict[i],x))

In [27]:
#after
test.head()

,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,0,2005,4,13,44,10,3,3,0,1.000000,0,85377,1,3,3,5032.0,6386.0,5935.0,7397.0,4905.0,6181.0,8557.0,9752.0,0,0,18881,30212,14,6500.0,0,2152
1,0,2005,4,7,62,11,47,3,0,1.000000,0,61873,1,0,3,4502.0,5685.0,5362.0,6640.0,4645.0,5710.0,7562.0,9296.0,0,0,18111,30212,14,6300.0,0,1118
2,0,2006,3,1,41,23,39,3,0,1.000000,0,69283,1,5,1,10244.0,13041.0,11564.0,14584.0,10883.0,12166.0,15340.0,16512.0,0,0,18111,30212,14,9700.0,0,1215
3,0,2002,7,8,73,34,69,5,0,1.000000,0,87889,1,0,3,2558.0,3542.0,3263.0,4325.0,2928.0,3607.0,5725.0,6398.0,0,0,18881,30212,14,4150.0,0,1933
4,0,2007,2,11,82,45,170,7,0,1.462198,2,73432,0,2,0,5013.0,6343.0,5914.0,7350.0,5013.0,6343.0,5914.0,7350.0,0,0,18111,30212,14,4100.0,0,920

### First Model Trained (Logistic Regression)
**Let's look at an initial classifier before looking at the data**

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm

In [29]:
X = train[train.axes[1][1:]]
y = train['IsBadBuy'];

#for immediate results, we'll split the training set further into a train/test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 1)

In [32]:
clf = LogisticRegression().fit(X_train, y_train)
print('Training accuracy:', clf.score(X_train, y_train))
print('Testing accuracy:', clf.score(X_test, y_test))

Training accuracy: 0.875261192751687
Testing accuracy: 0.8840857710488457

**This looks really promising!!! Checking the predicted values now**

In [164]:
y_pred = clf.predict(X_test)

In [165]:
#accounting for how many positive and negative predictions were made
y_pred_dict = {}
for i in y_pred:
    if i in y_pred_dict:
        y_pred_dict[i] +=1
    else:
        y_pred_dict[i] = 1

In [166]:
y_pred_dict

{0: 14597}

**The model we trained appears to be guessing that only 0s. We can confirm this by checking the percent negative ratio in the training and testing set.**

In [167]:
print("Percentage of negative values in training set:", np.round(1-sum(y_train)/len(y_train), 6))
print("Percentage of negative values in testing set:", np.round(1-sum(y_test)/len(y_test), 6))

Percentage of negative values in training set: 0.875244
Percentage of negative values in testing set: 0.884086

**The percent negative values in the training and testing set are exactly the same as the model predicted. Thus it appears the mismatch of negative to positive samples is preventing our model from making any sort of meaningful predictions. Thus we will create a new training set that will have an equal number of positive and negative examples to train.**

In [168]:
bad_buys = train[train["IsBadBuy"] == 1]
good_buys= train[train["IsBadBuy"] == 0]
print(bad_buys.shape[0], good_buys.shape[0])

8976 64007

In [169]:
good_buys = good_buys.sample(n = bad_buys.shape[0])
print(bad_buys.shape[0], good_buys.shape[0])

8976 8976

**With an equal number of positive and negative examples we will now create a new balanced training set**

In [170]:
balanced_Train = pd.concat([good_buys, bad_buys])

#shuffling the order of the samples now
balanced_Train = balanced_Train.sample(frac = 1).reset_index(drop=True)

In [171]:
balanced_Train.head()

,IsBadBuy,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,1,2007,3,7,51,11,47,5,0,2.000000,1,57373,1,2,3,5418.0,6601.0,8694.0,9842.0,5622.0,6640.0,8749.0,9919.0,0,0,52492,29697,20,6600.0,0,671
1,1,2,2004,6,9,35,12,30,3,0,1.000000,0,68108,1,9,1,6233.0,7574.0,9797.0,11392.0,6695.0,8221.0,9519.0,11325.0,0,0,19619,28625,15,8210.0,0,1215
2,1,2,2005,4,5,9,8,177,7,0,1.494299,2,92953,1,1,3,11320.0,12544.0,12726.0,14048.0,11320.0,12544.0,12726.0,14048.0,0,0,99740,27542,15,11300.0,0,1341
3,1,1,2001,8,2,233,29,287,1,0,1.494299,2,83719,1,0,2,2350.0,3153.0,3038.0,3905.0,2128.0,2980.0,2798.0,3718.0,0,0,17675,29697,20,4200.0,0,1283
4,1,2,2004,6,9,59,10,3,7,0,2.000000,1,92389,1,0,1,3547.0,4617.0,6614.0,7787.0,3359.0,4272.0,6512.0,7590.0,0,0,25100,75050,10,4710.0,0,1630

In [172]:
balanced_Train.tail()

,IsBadBuy,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,Transmission,WheelTypeID,WheelType,VehOdo,Nationality,Size,TopThreeAmericanName,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
17947,1,2,2007,3,1,33,10,71,3,0,2.000000,1,69051,1,0,1,6014.0,7515.0,9962.0,11264.0,6982.0,8797.0,10483.0,12176.0,1,1,19619,27542,15,6700.0,0,825
17948,0,1,2008,2,9,75,17,114,3,0,2.000000,1,49868,1,0,1,8276.0,8949.0,12060.0,12522.0,7866.0,8580.0,11751.0,12494.0,0,0,99761,74135,26,8600.0,0,834
17949,0,2,2007,3,7,16,11,47,6,0,1.000000,0,53438,1,3,3,8040.0,9111.0,11568.0,12911.0,8186.0,9279.0,11674.0,12864.0,0,0,99750,8505,33,7700.0,0,1500
17950,1,0,2007,2,13,162,10,3,6,0,1.494299,2,60617,1,3,3,7712.0,9180.0,8829.0,10414.0,7809.0,9286.0,8934.0,10529.0,0,0,21053,85226,13,7630.0,0,1703
17951,1,2,2002,8,1,49,14,379,5,0,1.000000,0,83189,1,11,1,6052.0,7825.0,9023.0,10427.0,5945.0,7658.0,9785.0,11745.0,0,0,19619,32124,0,5750.0,0,1543

In [173]:
balanced_X = balanced_Train[balanced_Train.axes[1][1:]]
balanced_y = balanced_Train['IsBadBuy']

In [174]:
bX_train, bX_test, by_train, by_test = train_test_split(balanced_X,
                                                        balanced_y,
                                                        test_size = 0.2,
                                                        random_state = 1)

**Now to see how the data will fit using logistic regression using all the provided features**

In [175]:
clf = LogisticRegression().fit(bX_train, by_train)
print('Balanced training accuracy:', clf.score(bX_test, by_test))
print('Balanced testing accuracy:', clf.score(bX_test, by_test))
print('Overall test accuracy:', clf.score(X_test, y_test))

Balanced training accuracy: 0.672514619883041
Balanced testing accuracy: 0.672514619883041
Overall test accuracy: 0.7156264985956018

**This is a better result since the model is actually predicting something using all of the available data. Checking Kaggle score next by training classifier on all training points now and predicting the test set.**

In [225]:
clf = LogisticRegression().fit(balanced_X, balanced_y)
print('Overall training accuracy:', clf.score(balanced_X, balanced_y))

Overall training accuracy: 0.6808712121212122

In [34]:
print(train[train.axes[1][1:]].shape)
print(test.shape)

(72983, 31)
(48707, 31)

In [228]:
#Kaggle_test = pd.DataFrame({'IsBadBuy': pd.Series(clf.predict(test))})
Kaggle_test = pd.Series(clf.predict(test))
Kaggle_test = Kaggle_test.rename('IsBadBuy')
Kaggle_test.head()

0    0
1    0
2    0
3    1
4    1
Name: IsBadBuy, dtype: int64

In [229]:
RefId = pd.read_csv("data/test.csv")['RefId']
RefId.head()

0    73015
1    73016
2    73017
3    73018
4    73019
Name: RefId, dtype: int64

In [234]:
prediction = pd.concat([RefId, Kaggle_test], axis =1 )
prediction[1:].head()

   RefId  IsBadBuy
1  73016         0
2  73017         0
3  73018         1
4  73019         1
5  73020         0

In [235]:
prediction.to_csv('predictions/logistic_all.csv', index = False)

# **With this first pass approach, my model scored: 0.18338. Scoring on kaggle would put me at ~350th place. Top score is 0.26719**

**Next steps would be to inspect the data deeper, appropriately select the most relevant features, reduce feature size by combining features into insightful metrics, optimizing model parameters and using other model types (DNN).**

---

stop here with time

**Apparently the class_weights = 'balanced' parameter helps to weight out the difference between number of positive and negative samples. For curiousity we'll see how it performs.**

In [33]:
clf = LogisticRegression(class_weight='balanced').fit(X_train, y_train)
print('Training accuracy:', clf.score(X_train, y_train))
print('Testing accuracy:', clf.score(X_test, y_test))

Training accuracy: 0.743568663720755
Testing accuracy: 0.732136740426115

**Using this feature improves the results we get for our testing set by 0.02**

**Checking model performance on Kaggle**

In [35]:
#Kaggle_test = pd.DataFrame({'IsBadBuy': pd.Series(clf.predict(test))})
Kaggle_test = pd.Series(clf.predict(test))
Kaggle_test = Kaggle_test.rename('IsBadBuy')

RefId = pd.read_csv("data/test.csv")['RefId']
RefId.head()

prediction = pd.concat([RefId, Kaggle_test], axis =1 )
prediction[1:].head()

prediction.to_csv('predictions/logistic_all1.csv', index = False)

**Kaggle score: 0.18267**